@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');


@font-face {
    font-family: CircularStd;
    src: url(assets/fonts/CircularStd-Bold.eot);
    src: url("assets/fonts/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("assets/fonts/CircularStd-Bold.woff") format("woff"), url("assets/fonts/CircularStd-Bold.ttf") format("truetype"), url("assets/fonts/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--light-text-color);
    overflow-x: hidden;
}



#logo {
    margin-top: 5px;
    height: 80%;
    padding: 6px;
    border: 4px solid #ff3385;
    border-radius: 50%;
}